@import "tailwindcss";

@tailwind utilities;

:root {
  --font-kodchasan: 'Kodchasan', sans-serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Kodchasan', sans-serif;
}
